conky.config = {
    background = false,
    out_to_x = false,
    out_to_console = true,
    use_xft = true,
    update_interval = 1,
    total_run_times = 0,
    no_buffers = true,
    pad_percents = 2,
    use_spacer = 'left',
}

conky.text = [[
[
# CPU
  {"full_text": "<span foreground='\#{{ c1 }}'></span><span background='\#{{ c1 }}'>  $cpu% </span>", "markup": "pango", "separator":false, "separator_block_width":0},
# Temperature
      {"full_text": "<span foreground='\#{{ c2 }}' background='\#{{ c1 }}'></span><span background='\#{{ c2 }}'> ${hwmon temp 1}°C </span>",
	"markup": "pango", "separator":false, "separator_block_width":0},
# Network
      {"full_text": "<span background='\#{{ c1 }}'><span background='\#{{ c2 }}' foreground='\#{{ c1 }}'></span>   ${wireless_essid} ${wireless_bitrate {{ wlp }}}  </span><span background='\#{{ c1 }}' foreground='\#{{ c2 }}'></span>", "markup": "pango", "separator":false, "separator_block_width": 0},
# Cmus
  {"full_text":"<span background='\#{{ c2 }}'>  ⛀ ${fs_free /} /${fs_size /}  </span>","separator": false, "separator_block_width":0, "markup": "pango"},
  {"full_text":"<span background='\#{{ c2 }}' foreground='\#{{ c1 }}'></span>","separator": false, "separator_block_width":0, "markup": "pango"},
  {"full_text":"<span background='\#{{ c1 }}'>  ⛁ ${fs_free /zfs} / ${fs_size /zfs}  </span>","separator": false, "separator_block_width":0, "markup": "pango"},
  {"full_text":"<span background='\#{{ c1 }}' foreground='\#{{ c2 }}'></span>","separator": false, "separator_block_width":0, "markup": "pango"},
  {"full_text":"<span background='\#{{ c2 }}'>   \uf240  ${battery_short BAT0} ${battery_short BAT1} </span>","separator": false, "separator_block_width":0, "markup": "pango"},
  {"full_text":"<span background='\#{{ c2 }}' foreground='\#{{ c1 }}'></span>","separator": false, "separator_block_width":0, "markup": "pango"},
# Date:
{"full_text": "<span background='\#{{ c1 }}' foreground='\#{{ c1 }}'></span><span background='\#{{ c1 }}'>   ${time %b %d} </span><span background='\#{{ c1 }}' foreground='\#{{ c2 }}'></span>",
	"separator": false, "separator_block_width": 0, "markup": "pango"},
# Time:
    	{"full_text":"<span background='\#{{ c2 }}'>  ${time %X} </span>","separator":false, "separator_block_width":0, "markup": "pango" },
	{"full_text": "<span foreground='\#{{ c2 }}'>\ue0bc</span>", "markup": "pango", "separator": false, "separator_block_width": 0}
],
]]
