conky.config = {
    background = false,
    out_to_x = false,
    out_to_console = true,
    use_xft = true,
    update_interval = 1,
    total_run_times = 0,
    no_buffers = true,
    pad_percents = 2,
    use_spacer = 'left',
}

conky.text = [[
[
	# CPU
  {"full_text": "<span foreground='\#{{ colorcpu }}'></span><span background='\#{{ colorcpu }}'>  $cpu% </span>", "markup": "pango", "separator":false, "separator_block_width":0},
    	# Temperature
      {"full_text": "<span foreground='\#{{ colortemp }}' background='\#{{ colorcpu }}'></span><span background='\#{{ colortemp }}'> ${hwmon temp 1}°C </span>",
	"markup": "pango", "separator":false, "separator_block_width":0},
    	# Network
      {"full_text": "<span background='\#{{ colorwlp }}'><span background='\#{{ colortemp }}' foreground='\#{{ colorwlp }}'></span>   ${wireless_bitrate {{ wlp }}} ${wireless_link_qual_perc {{ wlp }}}% ${downspeed {{ wlp }}}${upspeed {{ wlp }}} </span><span background='\#{{ colorwlp }}' foreground='\#{{ colormus }}'></span>", "markup": "pango", "separator":false, "separator_block_width": 0},
	# Cmus
  {"full_text":"<span background='\#{{ colormus }}'>  ⛀ ${fs_free /} /${fs_size /} ⛀ ${fs_free /zfs} / ${fs_size /zfs} </span>","separator": false, "separator_block_width":0, "markup": "pango"},
  {"full_text":"<span background='\#{{ colormus }}' foreground='\#{{ colordate }}'></span>","separator": false, "separator_block_width":0, "markup": "pango"},
     	# Date:
	{"full_text": "<span background='\#1793d1' foreground='\#{{ colordate }}'></span><span background='\#{{ colordate }}'>   ${time %b %d} </span><span background='\#{{ colordate }}' foreground='\#{{ colortime }}'></span>",
	"separator": false, "separator_block_width": 0, "markup": "pango"},
	# Time:
    	{"full_text":"<span background='\#{{ colortime }}'>  ${time %X} </span>","separator":false, "separator_block_width":0, "markup": "pango" },
	{"full_text": "<span foreground='\#{{ colortime }}'>\ue0bc</span>", "markup": "pango", "separator": false, "separator_block_width": 0}
],
]]
